<div class="row">
    <div class="col-12">
        <h1>{{voluntario.usuario.nome}}</h1>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid rounded d-block img-thumbnail" src="data:image/png;base64,{{voluntario.usuario.foto}}" alt="" style="width:500px;height:300px">
            </div>
            <div class="col-6">
                <h5>Interesse</h5>
                <hr>
                <p>{{voluntario.interesse}}</p>
                <h5>Dados pessoais</h5>
                <hr>
                <p>Email: {{voluntario.usuario.email}}</p>
                <p>Telefone: {{voluntario.usuario.telefone}}</p>
            </div>
            <div class="col-12">
                <div class="float-right">
                    <label class="float-right" style="color:#563d7c">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>