<div class="vertical-center">
    <div class="container">
        <div class="row ">
            <div class="col-8 offset-md-2 card card-outline-success">
                <h2 class="text-center">Novo amigo</h2>
                <hr>
                <form name="cadastroAmigoForm" ng-submit="cadastrarAmigo()">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="">Nome</label>
                            <input type="text" name="nome" ng-model="amigo.nome" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <label for="">Raça</label>
                            <input type="text" name="raca" ng-model="amigo.raca" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="">Peso</label>
                            <input type="text" name="peso" ng-model="amigo.peso" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <label for="">Cor</label>
                            <input type="text" name="cor" ng-model="amigo.cor" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="">Data de nascimento</label>
                            <input type="text" name="dtnascimento" ng-model="amigo.dtnascimento" limit-to="10" onkeypress="MascaraData(dtnascimento)" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <label for="">Sexo</label>
                            <select name="selectSexo" ng-model="amigo.sexo" class="form-control">
                                <option value="M">M</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="">Características / observações</label>
                            <textarea name="observacao" id="" cols="30" rows="10" ng-model="amigo.observacao" class="form-control">

                            </textarea>
                        </div>
                        <div class="form-group col-6">
                            <label for="">Foto</label>
                            <input type="file" name="foto" ng-model="amigo.foto" ng-change="alterarFoto()">
                            <img ng-src="{{imgPreview}}" alt="">
                        </div>
                    </div>
                </form>
            </div>
            <div growl class="col-2"></div>
        </div>
    </div>
</div>