<div class="row mt-5">
    <div class="col-6 offset-md-3 card card-outline-success">
        <h2>Login</h2>
        <hr>
        <form name="loginForm">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Usuário" aria-describedby="idusuario">
                    <span class="input-group-addon bg-success" id="idusuario"><i class="fa fa-user" style="color:white"></i></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Senha" aria-describedby="idsenha">
                    <span class="input-group-addon bg-success" id="idsenha"><i class="fa fa-lock" style="color:white"></i></span>
                </div>
            </div>
            <div class="form-group">
                <span>
                            Não está cadastrado?
                            <a href="#!/animais/cadastrar-usuario" class="text-success">Clique aqui</a>
                        </span>
                <button type="button" class="btn btn-success float-right">Logar</button>
            </div>
        </form>
    </div>
</div>