<div class="mt-5">
    <div class="headline">
        <h2>Animais</h2>
    </div>
    <div>
        <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
            <div owl-carousel-item="" ng-repeat="foto in ::fotos" class="item slider-height">
                <div class="margin-bottom-20">
                    <div class="thumbnails thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <img class="img-responsive img-height" src="{{::foto.url}}" alt="">
                            </div>
                            <a class="btn-more hover-effect" href="#">Saiba mais</a>
                        </div>
                        <div class="caption">
                            <h3><a class="hover-effect" href="#">{{::foto.nome}}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </data-owl-carousel>
    </div>
    <div class="headline">
        <h2>Parceiros</h2>
    </div>
    <div>
        <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: false, rewindNav : false}">
            <div owl-carousel-item="" ng-repeat="logo in 	" class="item slider-height">
                <div class="margin-bottom-20 my-3">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive img-logo-header mx-auto" src="{{logo}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </data-owl-carousel>
    </div>
</div>