.img-logo {
    width : 50px;
    height : 50px;
}

.img-logo-header {
    width : 80px;
    height : 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.align-center-aaa {
    display: block;
  margin: 0 auto;
  text-align: center;
}