<!DOCTYPE html>
<html lang="pt-br" ng-app="animais">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/blocks.css">
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">

    <!-- Scripst diversos -->
    <script src="assets/js/diversos/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="assets/js/diversos/bootstrap.min.js"></script>
    <script src="assets/js/diversos/owl.carousel.js"></script>
    <script src="assets/js/diversos/mask-validation.js"></script>

    <!-- Scripst angular -->
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-route.min.js"></script>
    <script src="assets/js/angular/angular-growl.js"></script>

    <script src="assets/js/animais-app.js"></script>


    <!-- Serviços -->
    <script src="assets/js/services/requisicoes-service.js"></script>
    <script src="assets/js/services/clear-mask-service.js"></script>
    <script src="assets/js/services/auth-interceptor.js"></script>
    <script src="assets/js/services/bau-service.js"></script>
    <script src="assets/js/services/logout-service.js"></script>

    <!-- Controllers -->
    <script src="assets/js/controllers/PrincipalController.js"></script>
    <script src="assets/js/controllers/IndexController.js"></script>
    <script src="assets/js/controllers/CadastroAnimalController.js"></script>
    <script src="assets/js/controllers/LoginController.js"></script>
    <script src="assets/js/controllers/UsuarioController.js"></script>
    <script src="assets/js/controllers/CadastroVoluntarioController.js"></script>

    <!-- Configuração -->
    <script src="assets/js/config/route-config.js"></script>
    <script src="assets/js/config/url-config.js"></script>

    <!-- Diretivas -->
    <script src="assets/js/directives/carousel-directive.js"></script>
    <script src="assets/js/directives/carousel-item-directive.js"></script>
    <script src="assets/js/directives/limitTo-directive.js"></script>

</head>

<body ng-controller="IndexController">



    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-success">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <a href="#">
                <img class="swing img-logo img-responsive" src="assets/img/logo.png" alt="Logo">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item border-solid active">
                        <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
                    </li>
                    <div class="dropdown">
                        <li class="nav-item border-solid" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a class="nav-link" href="#">Amigos</a>
                        </li>
                        <div class="dropdown-menu bg-success clear-borda" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <li class="nav-item border-solid">
                        <a class="nav-link" href="#!/animais/cadastrar-voluntario">Seja um voluntário</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    <a href="#!/animais/login" ng-if="!logado">
                        <i class="fa fa-sign-in fa-white" style="color:white"></i>
                    </a>
                    <span class="text-white ml-3 pr-3">{{nomeUsuario | uppercase}}</span>
                    <a href="" ng-if="logado" data-toggle="modal" data-target="#Modal1">
                        <i class="fa fa-sign-out" style="color:white"></i>
                    </a>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <!-- MODAL BOOTSTRAP -->
        <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        Deseja sair do sistema?
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="efetuarLogout()" data-dismiss="modal" class="btn btn-success" data-dismiss="Sim">Sim</button>
                        <button type="button" class="btn btn-dabger" data-dismiss="modal">Não</button>
                    </div>
                </div>
            </div>
        </div>
        <ng-view></ng-view>
    </div>
    <footer class="footer">
        <div class="bg-success">
            <div class="row">
                <div class="col-6">
                    <div class="col-6 offset-md-3">
                        <h4 class="text-white pt-3">Fale conosco</h4>
                        <form name="contatoForm" class="pb-3">
                            <input type="text" placeholder="Email" class="form-control">
                            <textarea placeholder="Insira aqui sua mensagem" name="mensagem" cols="30" rows="5" class="form-control"></textarea>
                            <input type="submit" value="Enviar mensagem" class="btn btn-secondary mt-2">
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-6 offset-md-3">
                        <h4 class="text-white pt-3">Contato</h4>
                        <p>Avenida das américas 500, Bl16 - Sl 316</p>
                        <p>Barra da Tijua - Rio de Janeiro</p>
                        <p>Cep: 22640-100</p>
                        <p> Email: doacao.animal@gmail.com</p>
                        <p>
                            <i class="fa fa-facebook-official fa-2x" aria-hidden="true" style="color:white"></i>
                            <i class="ml-3 fa fa-instagram fa-2x" aria-hidden="true" style="color:white"></i>
                            <i class="ml-3 fa fa-twitter-square fa-2x" aria-hidden="true" style="color:white"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>