<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <link rel="stylesheet" href="">
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/blocks.css">
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">

    <!-- Scripst diversos -->
    <script src="assets/js/diversos/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="assets/js/diversos/bootstrap.min.js"></script>
    <script src="assets/js/diversos/owl.carousel.js"></script>
    <script src="assets/js/diversos/mask-validation.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{animal.nome}}</h1>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <img class="rounded d-block img-thumbnail" src="data:image/png;base64,{{animal.foto}}" alt="" style="width:500px;height:300px">
                    </div>

                    <div class="my-auto col-6">
                        {{animal.observacao}}
                    </div>
                    <div class="col-12">
                        <div class="float-right">
                            <label class="float-right" style="color:#563d7c">
                                        Cadastro em: {{animal.dtCadastro | date : "dd/MM/yyyy hh:mm"}} por {{animal.tutor.usuario | uppercase}}
                                    </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <h2>Características</h2>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <h6>Raça</h6>
                        <label>{{animal.raca}}</label>
                    </div>
                    <div class="col-2">
                        <h6>Peso</h6>
                        <label>{{animal.peso}} kg</label>
                    </div>
                    <div class="col-2">
                        <h6>Cor</h6>
                        <label>{{animal.cor}}</label>
                    </div>
                    <div class="col-2">
                        <h6>Sexo</h6>
                        <label>{{animal.sexo}}</label>
                    </div>
                    <div class="col-2">
                        <h6>Data de nascimento </h6>
                        <label>{{animal.dtnascimento | date : "dd/MM/yyyy"}}</label>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4 mb-4">
                <h2>Responsável</h2>
                <hr>
                <div class="row">
                    <div class="col-3">
                        <h6>Tutor: </h6>
                        <label>{{animal.tutor.nome}}</label>
                    </div>
                    <div class="col-3">
                        <h6>Telefone</h6>
                        <label>{{animal.tutor.telefone}}</label>
                    </div>
                    <div class="col-3">
                        <h6>Email</h6>
                        <label>{{animal.tutor.email}}</label>
                    </div>
                </div>
            </div>
            <div>
                <h3>Comentários</h3>
            </div>
            <hr>

            <div class="col-6" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-repeat="comentario in anuncio.comentarios track by $index">
                <div class="col-2">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" ng-src="http://www.fundosanimais.com/Imagens/par-leoes.jpg">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>{{comentario.autor}}</strong>
                            <strong class="float-right">{{comentario.dataInclusao | date: 'dd/MM/yyyy HH:mm:ss'}}</strong>
                        </div>
                        <div class="card-block">
                            {{comentario.texto}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="logado && statusPublicado">
                <form name="formComentario" ng-submit="inserirComentario(formComentario.textoComentario)">
                    <div>
                        <div class="form-group">
                            <textarea class="form-control" name="textoComentario" ng-model="textoComentario" id="" cols="20" rows="5"></textarea>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-space btn-primary pull-right" value="Comentar" ng-disabled="textoComentario.length === 0 || textoComentario.length === null || textoComentario.length === undefined">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>