<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <link rel="stylesheet" href="">
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/blocks.css">
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">

    <!-- Scripst diversos -->
    <script src="assets/js/diversos/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="assets/js/diversos/bootstrap.min.js"></script>
    <script src="assets/js/diversos/owl.carousel.js"></script>
    <script src="assets/js/diversos/mask-validation.js"></script>

    <script src="assets/js/controllers/teste.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div growl class="col-6 offset-md-3"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Voluntários</h2>
                <hr>
                <a href="" class="btn btn-outline-info float-right" ng-click="consultarVoluntarioExistente()">Seja um voluntário</a>
            </div>
        </div>
        <div class="row text-center mt-3">
                <div class="card card-outline-info mb-3 ml-2" style="width: 20rem;" ng-repeat="voluntario in voluntarios">
                    <img class="w-75 mx-auto card-img-top img-fluid rounded-circle" src="data:image/png;base64,{{voluntario.usuario.foto}}" alt="">
                    <div class="card-block">
                        <h4 class="card-title">{{voluntario.usuario.nome}}</h4>
                        <p class="card-text">{{voluntario.interesse}}</p>
                        <a href="" class="btn btn-outline-info" ng-click="detalharVoluntario(voluntario)">Detalhes</a>
                    </div>
                </div>
                <div class="card mb-3 ml-2" style="width: 20rem;" ng-repeat="voluntario in voluntarios">
                    <img class="w-75 mx-auto card-img-top img-fluid rounded-circle" src="data:image/png;base64,{{voluntario.usuario.foto}}" alt="">
                    <div class="card-block">
                        <h4 class="card-title">{{voluntario.usuario.nome}}</h4>
                        <p class="card-text">{{voluntario.interesse}}</p>
                        <a href="" class="btn btn-outline-primary" ng-click="detalharVoluntario(voluntario)">Detalhes</a>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>